[{lager, [{handlers, [{lager_console_backend, [{level, debug}
                                              ,{formatter, lager_default_formatter}
                                              ,{formatter_config,
                                                [color,
                                                 %date, " ",
                                                 time, "|",
                                                 %node, "|",
                                                 {callid, "no-call-id"},
                                                 " ", pid, "|",
                                                 module, ":", function, ":", line, "|",
                                                 severity, "|",
                                                 message,
                                                 "\033[0m\n"
                                                ]}
                                              ]}
                     ]
         }]
}].
